<section>
  {{#if (eq results.length 0)}}
  <p>{{localize "SYRINSCAPE.BROWSER.HINTS.results.none"}}</p>
  {{else}}
  <ul class="entries">
    {{#each results}}
    {{> "modules/syrinscape-control/templates/browser/result.hbs"}}
    {{/each}}
  </ul>
  {{/if}}
</section>
